Game created


<form method="post">
    <p>
        <label>Play as:
            <select name="player">
                <option>X</option>
                <option>O</option>
            </select>
        </label>
    </p>
    <table id="board">
        <tr>
            <td id="square-middle"><button name="square-middle">play here</button></td>
        </tr>
    </table>
</form>
